
#Core Configuration File
config.php

#Node
node_modules/

#Composer
vendor/

#Created Files by Grunt
Assets/css/imports\.min\.css
Assets/css/libs\.min\.css
Assets/css/written\.min\.css
Assets/css/written\.*\.min\.css
Assets/js/*.js

Core/cachebuster.php

\.idea/
\.vscode/

#Image Files
Cache/

error_log
