<?php

define('DBHOST', 'localhost');
define('DBUSERNAME', 'hiouser');
define('DBPASSWORD', 'password');
define('DBNAME', 'hio');


define('TABLEPREFIX', 'hio');
define('SESSIONNAME', 'Heating-Session');

define('FORCESECURE', false);

define('ALLOWEDNAVS',
       ["HOME"]
);

define('TITLEPREFIX', '');
define('TITLESUFFIX', ' | HEAT.IO');

define('HOTWATER_PIN', 21);
define('HEATING_PIN', 20);


define('MAINURL', 'local.heat.io');
define('ASSETURL', '/Assets');
define('MAINPROTOCOL', 'http');
define('SECURE', false);
define('VERNO', '0.8.2');
define('COLOUR', '#2078dc');

define('DEV', false);
<?php
